@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-bkg text-content font-sans font-medium;
}

@layer base {

  h1 {
    @apply text-4xl lg:text-5xl text-content
  }

  h2 {
    @apply text-3xl lg:text-4xl text-content
  }

  h3 {
    @apply text-2xl lg:text-3xl text-content
  }

  h4 {
    @apply text-xl lg:text-2xl text-content
  }

  :root {
    --color-bkg: 255 245 210;
    --color-bkg2: 220 210 180;
    --color-content: 75 75 75;
    --color-secondary: 240 185 90;
    --color-hover-bkg: 0, 0, 0, .2;
    --color-danger: 200 0 50;
  }

  @media (prefers-color-scheme:dark) {
    :root {
      --color-bkg: 130 120 80;
      --color-bkg2: 150 140 100;
      --color-content: 240 240 240;
      --color-secondary: 240 170 70;
      --color-hover-bkg: 255, 255, 255, .2;
      --color-danger: 150 40 60;
    }
  }

  [data-theme="light"] {
    --color-bkg: 255 245 210;
    --color-bkg2: 220 210 180;
    --color-content: 75 75 75;
    --color-secondary: 240 185 90;
    --color-hover-bkg: 0, 0, 0, .2;
    --color-danger: 200 0 50;
  }

  [data-theme="dark"] {
    --color-bkg: 130 120 80;
    --color-bkg2: 150 140 100;
    --color-content: 240 240 240;
    --color-secondary: 240 170 70;
    --color-hover-bkg: 255, 255, 255, .2;
    --color-danger: 150 40 60;
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.messageAnimation {
  right: -120px;
}

.messageAnimation-active {
  right: 54px;
  transition: right 0.8s ease;
}

.messageAnimation-close {
  right: -120px;
  transition: right 0.8s ease;
}

.modal-enter {
  opacity: 0;
  transform: translateY(50vh);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.4s ease;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(50vh);
  transition: opacity 0.5s ease, transform 0.4s ease;
}

.modal-bg-enter {
  background-color: transparent;
}

.modal-bg-enter-active {
  background-color: rgba(0, 0, 0, .8);
  transition: background-color .5s ease;
}

.modal-bg-exit {
  background-color: rgba(0, 0, 0, .8);
}

.modal-bg-exit-active {
  background-color: transparent;
  transition: background-color .5s ease;
}

.scale {
  animation: scale .8s infinite;
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1
  }
}