@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@tailwind utilities;

@theme {
  --color-primary: rgb(43, 126, 254);
  --color-tertiary: rgb(0, 120, 120);
  --color-glass: rgba(0, 0, 0, 0.1);
  --color-success: rgb(75, 160, 50);
  --color-warning: rgb(240, 210, 20);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {}

@layer base {

  body {
    @apply bg-[rgb(var(--color-bkg))] text-[rgb(var(--color-content))] font-sans font-medium;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  select {
    @apply text-xl py-2 mb-6 border-b-2 border-[rgb(var(--color-secondary))] transition-all duration-200 outline-none;
  }

  select:focus {
    background-color: rgb(var(--color-bkg));
    color: rgb(var(--color-content));
    border-color: var(--color-primary);
  }

  select option {
    background-color: rgb(var(--color-bkg));
    color: rgb(var(--color-content));
  }

  h1 {
    @apply text-4xl lg:text-5xl
  }

  h2 {
    @apply text-3xl lg:text-4xl
  }

  h3 {
    @apply text-2xl lg:text-3xl
  }

  h4 {
    @apply text-xl lg:text-2xl
  }

  :root {
    --color-bkg: 245, 245, 250;
    --color-bkg2: 225, 230, 240;
    --color-secondary: 90, 180, 180;
    --color-accent-1: 210, 230, 255;
    --color-accent-2: 160, 190, 250;
    --color-content: 75, 75, 75;
    --color-hover-bkg: 0, 0, 0, .2;
    --color-danger: 200, 0, 50;
  }

  @media (prefers-color-scheme:dark) {
    :root {
      --color-bkg: 15, 15, 25;
      --color-bkg2: 25, 25, 45;
      --color-secondary: 0, 255, 180;
      --color-accent-1: 40, 70, 120;
      --color-accent-2: 25, 50, 100;
      --color-content: 240, 240, 240;
      --color-hover-bkg: 255, 255, 255, .2;
      --color-danger: 150, 40, 60;
    }
  }

  [data-theme="light"] {
    --color-bkg: 245, 245, 250;
    --color-bkg2: 225, 230, 240;
    --color-secondary: 90, 180, 180;
    --color-accent-1: 210, 230, 255;
    --color-accent-2: 160, 190, 250;
    --color-content: 75, 75, 75;
    --color-hover-bkg: 0, 0, 0, .2;
    --color-danger: 200, 0, 50;
  }

  [data-theme="dark"] {
    --color-bkg: 15, 15, 25;
    --color-bkg2: 25, 25, 45;
    --color-secondary: 0, 255, 180;
    --color-accent-1: 40, 70, 120;
    --color-accent-2: 25, 50, 100;
    --color-content: 240, 240, 240;
    --color-hover-bkg: 255, 255, 255, .2;
    --color-danger: 150, 40, 60;
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.messageAnimation {
  right: -120px;
}

.messageAnimation-active {
  right: 54px;
  transition: right 0.8s ease;
}

.messageAnimation-close {
  right: -120px;
  transition: right 0.8s ease;
}

.modal-enter {
  opacity: 0;
  transform: translateY(50vh);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.5s ease;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(50vh);
  transition: opacity .8s ease, transform 0.5s ease;
}

.modal-bg-enter {
  background-color: transparent;
}

.modal-bg-enter-active {
  background-color: rgba(0, 0, 0, .8);
  transition: background-color .6s ease;
}

.modal-bg-exit {
  background-color: rgba(0, 0, 0, .8);
}

.modal-bg-exit-active {
  background-color: transparent;
  transition: background-color .6s ease;
}

.scale {
  animation: scale .8s infinite;
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1
  }
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}